.card-title{
    font-family: 'Times New Roman', serif;
}
.card-text{
    font-family: 'Brush Script MT', cursive;
}
#footer{
    font-family: 'Brush Script MT', cursive;
    background-color: beige;
}